<!--  login page using bootstrap  -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-5">
        <div class="card-header bg-primary justify-content-center">
          <h2>Register</h2>
        </div>
        <div class="card-body">
          <!-- Your login form goes here -->
          <form>
            <!-- Form fields go here -->
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter your a email " name="email" [(ngModel)]="email"  required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" placeholder="Enter a password" name="password" [(ngModel)]="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" (click)="register()" >Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

